/* Fondo de la página */
body {
    background-color: #0d1117;
}

/* Estilo de tabla */
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    /* agrega una curvatura a los bordes */
    overflow: hidden;
    /* asegura que las celdas no sobresalgan */
    background-color: #161b22;
    /* establece el color de la tabla como el de Github oscuro */
}

th,
td {
    padding: 6px 8px;
    text-align: center;
    /* centra el contenido de las celdas */
    border: none;
    /* quita los bordes de las celdas */
    background-color: #161b22;
    /* establece el color de las celdas como el de Github oscuro */
    color: #c9d1d9;
    /* establece el color del texto de las celdas */
}

th {
    font-weight: bold;
}

/* Estilo de fila alternativa */
tr:nth-child(even) {
    background-color: #0d1117;
}

/* Estilo de enlace */
a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}