<div class="signup-container">
  <div class="logo">
    <img src="../../assets/login-icon.png" alt="Login logo" width="75">
  </div>
  <h1>¡Bienvenido a MyReport!</h1>
  <div class="form-box">
    <div class="box">
      <label>Nombre</label>
      <input type="text" minlength="1" maxlength="50" required><br />
      <label>Apellido</label>
      <input type="text" minlength="1" maxlength="50" required><br />
      <label>Fecha de nacimiento</label>
      <input type="date" required><br />
      <label>Correo</label>
      <input type="email" required><br />
      <label>Contraseña</label>
      <input type="password" required><br />
      <label>Nombre de usuario</label>
      <input type="text" required><br />
      <input type="submit" value="Crear cuenta"><br />
    </div>
  </div>
</div>