h1 {
  color: #c9d1d9;
  font-size: 25px;
  font-weight: lighter;
  margin: 50px 0 20px;
  text-align: center;
}

.login-container {
  background-color: #0d1117;
  width: 90%;
  border-radius: 10px;
  pointer-events: all;
  margin: 0 auto;
  min-width: 300px;
}

@media screen and (min-width: 320px) {
  .login-container {
    width: 10%;
    min-width: 300px;
  }
}


.form-box {
  border-radius: 10px;
  background-color: #161b22;
  padding: 20px;
  margin-bottom: 15px;
  pointer-events: all;
  border: 1px solid #212325;
}

.login-option-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  pointer-events: all;
}

.sign-up {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #586069;
  pointer-events: all;
}

input[type="button"] {
  border: none;
  background-color: #30363d;
  color: #757a80;
  font-size: 12px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color, background-color 0.2s ease-in-out;
  width: 100%;
}

#email-button {
  border-radius: 10px 0 0 10px;
}

input[type="button"]:hover {
  background-color: #747679;
  color: #fff;
}

input[type="button"].active {
  color: #c9d1d9;
}

.login-forms {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.login-forms label {
  color: #8b949e;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.email-login {
  display: block;
}

.login-end {
  margin-top: -20px;
  text-align: center;
}

input[type="submit"] {
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #cb2431;
}

label {
  color: #8b949e;
  font-size: 14px;
  font-weight: lighter;
  margin-right: 5px;
}

a {
  color: #257eeb;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #55a5ff;
  text-decoration: underline;
}

input[type="submit"],
input[type="button"].active {
  background-color: #257eeb;
  color: #fff;
}

input[type="submit"]:hover,
input[type="button"].active:hover {
  background-color: #55a5ff;
}

.logo {
  margin-top: 30px;
  text-align: center;
  margin-bottom: -40px;
}


.login-forms label {
  color: #c9d1d9;
}

.login-forms input[type="email"],
.login-forms input[type="password"] {
  background-color: #0d1117;
  border: none;
  border-radius: 3px;
  color: #c9d1d9;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  border: 1px solid #0d1117;
}

.login-forms input[type="email"]:focus,
.login-forms input[type="password"]:focus {
  background-color: #0d1117;
  color: #c9d1d9;
  outline: none;
  border: 1px solid #257eeb;
}