/* Fondo de la página */
body {
    background-color: #f6f8fa;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Formulario de inicio de sesión */
form {
    background-color: #fff;
    border: 1px solid #eaecef;
    border-radius: 6px;
    padding: 32px;
    box-shadow: 0px 1px 4px rgba(27, 31, 35, 0.04);
}

/* Título del formulario */
form h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Campo de entrada */
input[type="text"],
input[type="password"],
input[type="submit"] {
    background-color: #fafbfc;
    border: 1px solid #eaecef;
    border-radius: 6px;
    box-shadow: inset 0px 1px 2px rgba(27, 31, 35, 0.075);
    color: #24292e;
    display: block;
    font-size: 16px;
    height: 36px;
    margin-bottom: 16px;
    padding: 6px 8px;
    width: 100%;
}

/* Estilos hover para el botón */
input[type="submit"]:hover {
    background-color: #269f42;
    border: 1px solid #269f42;
    cursor: pointer;
}